	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='delete.css') }}">
		<title>Eliminar un restaurante</title>
</head>

<body>
	<div class="container">

		
		<form action="#" method = 'post'>
			<h1> ¿Estás seguro de borrar '{{restaurant.name}}'? </h1>
			
			<label>Esta acción es irreversible, confirma antes de.</label>
			
			<div class="botones">
				<input type='submit', value = 'Borrar'>
				<a href='{{url_for('showRestaurants')}}'> Cancelar</a>
			</div>
			
		</form>
	</div>




</body>

</html>
