<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='newmenuitem.css') }}">
	<title>Nuevo plato en el menú</title>
</head>
<body>
	<form action="#" method = 'post'>
		<h1>Nuevo platillo al menú</h1>
	
	
		<p>Nombre:</p>
			<input type ='text' size='30' name='name'>
		<p>Descripción:</p>
			<input type ='text' size='30' name='description'>
		<p>Precio:</p>
			<input type ='text' size='30' name='price'>
		<p>Tipo:</p>
		<label>Aperitivos</label>
			<input class="botones-form" type ='radio' name='course' value ='Appetizer'>
			<label>Entrada</label>
			<input class="botones-form" type ='radio' name='course' value ='Entree'>
			<label>Postres</label>
			<input class="botones-form" type ='radio' name='course' value ='Dessert'>
			<label>Bebidas</label>
			<input class="botones-form" type ='radio' name='course' value ='Beverage'>
		
	
	<input type='submit' value='Crear'>
	
	</form>
	
</body>
</html>
